
#bg-1{
   background-image: url('https://ankaragucu.org.tr/file/2018/07/Ankarag%C3%BCc%C3%BC-S%C3%BCper-Ligde19');
}

#banaUlasin{

    font-family: "Times New Roman";
    color: white;
    text-align: center;
}

.arkaPlan{
    background-color:black;
}
.resim{
  margin: 10px;  
}