
#bg-1{
    background-color:#F29999
}
#bg-2{
    background-color:#F2B680
}
#bg-3{
    background-color:#6BB983
}
#bg-4{
    background-color:#79A7A8
        
}

#banaUlasin{

    font-family: "Times New Roman";
    color: white;
    text-align: center;
}

.arkaPlan{
    background-color:black;
}
.resim{
  margin: 10px;  
}